body{
    background-color: #013e66;
    font-family: 'Righteous', cursive;
    color: black;
}

.btnStyle{
    border: none;
    background: none;
}

.marginTitle{
    margin-top: 50px;
}

.textInputStyle{
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #013e66;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating2 {  
    animation-name: floating;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating3 {  
    animation-name: floating;
    animation-duration: 3.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.myWidth{
    width: 400px;
    border-radius: 5%;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}